# Cachés de Python
__pycache__/

# Carpetas generadas por nuestro código (Videos, imágenes y audios temporales)
frames_cache/
audio_cache/
videos/
videos_output/

# Modelos pesados de IA y Datasets (Exceden los 100MB de GitHub)
mi_vit_rocket_league/
datasets_rocket_league/

# Archivos multimedia sueltos
*.mp4
*.wav
*.jpg